.fpsFadeContainer {
  color: black;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;

}


.fpsFadeContainer img {
    height: 200px;
    width: 250px;
    object-fit: contain;
}

.fpsFadeElement {
  /* position: absolute; */
  -webkit-transition: opacity 0.3s;
  /* transition: opacity 0.5s; */
  transition:all 0.3s ease;
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  cursor: pointer;
  margin: 10px 40px 10px 40px;
}

.fpsFadeIn {
  opacity: 1;
  /* Had to add z-index to fadeIn and fadeOut so that correct item would be on top for onClick event */
  z-index: 1;
}

.fpsFadeOut {
  opacity: 0;
  /* Had to add z-index to fadeIn and fadeOut so that correct item would be on top for onClick event */
  z-index: 0;
}

.fpsDotsContainer {
  grid-column: 1 / 4;
  grid-row: 2 / 2;
}


.whoDateStamps {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dateStamps {
  display: flex;
  flex-direction: row;
}

/* This is the Timestamp Label ie Created/Modified */
.dateStamps div:nth-child(1) { 
    color: 'darkblue';
    width: 60px;
    font-weight: 600;
    padding-right: 15px;
  }

/* This is the Timestamp */
.dateStamps div:nth-child(2) { 
  color: 'darkblue';
  width: 150px;
  padding-left: 20px;
}

/* This is the person */
.dateStamps div:nth-child(3) { 
  color: 'darkblue';
  width: 150px;
  padding-left: 20px;
}
