/* @import '~office-ui-fabric-react/dist/sass/References.scss'; */
@import '~office-ui-fabric-react/dist/css/fabric.min.css';

.accordion-design {
  padding:20px;
  background: #ececec;

  display: grid;
  column-gap: 20px;
  row-gap: 20px;

  /* min-height: 50vh; */

}

.accordion-design .current-title {
  grid-column: 1;
  grid-row: 1;
}

.accordion-design .current-object {
  grid-column: 1;
  grid-row: 2;
}

.accordion-design .total-title {
  grid-column: 2;
  grid-row: 1;
  transition:all 0.4s ease;
  opacity: 1;
}

.accordion-design .current-object {
  grid-column: 2;
  grid-row: 2;
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.accordion-design .command-icon {

  margin-left: 15px;
  font-size: x-large;
  background: white;
  border-radius: 5px;

  /* @extend .selectIcon; */
  cursor: pointer;
  padding: 6px 5px 5px;

}


.command-tables {

  display: grid;
  grid-gap: 3em;
  font-size: small;
}

.command-tables .left-command{
    grid-column: 1;
    grid-row: 1;
  }

.command-tables .right-command {
  grid-column: 2;
  grid-row: 1;
}

.command-tables .collapse-command {
  grid-column: 1;
  grid-row: 1;
  display: none;
  overflow: hidden;
}

.command-tables th {
  width: 50px;
  text-align: center !important;
}

.command-tables td {
  text-align: center !important;
}

.command-tables th:nth-child(1) { 
  min-width: 150px;
  white-space: nowrap;
  font-size: larger;
  text-align: start !important;
}

.command-tables td:nth-child(1) { 
  min-width: 150px;
  white-space: nowrap;
  font-size: larger;
  cursor: pointer;
  text-align: start !important;
}

/* 'button' | 'divider' | 'choice' */
.sample-panel {
  min-height: 80vh;
}

.choice-stack {
  position: relative;
}

/* 'button' | 'divider' | 'choice' */
.sample-panel .button {
  cursor: pointer;
  font-size: x-large;
  padding: 15px;
  background: lightgray;
  margin: 30px;
  text-align: center;
}

.sample-panel .choice {
  cursor: pointer;
  font-size: x-large;
  padding: 15px;
  background: lightgray;
  margin: 30px;
  text-align: center;
  box-shadow: 10px 10px 29px 7px rgba(0,0,0,0.5);
  width: 60%;
  transition:all 0.4s ease;
}

.sample-panel .choice:hover {
  z-index: 999999;
  transition:all 0.4s ease;
}

.sample-panel .divider {
  font-size: x-large;
  padding: 20px;
  /* background: lightgray; */
  margin: 20px 30px 30px;
  text-align: center;
  border-bottom: 10px solid lightgray;
}

.sample-panel .divider div:nth-child(1) {
  font-weight: 600;
}

.sample-panel .divider div:nth-child(2) {
  font-size: smaller;
  font-weight: 400;
}
